{% extends 'base.html.twig' %}

{% block title %}Sur la route de l’école, la destinée{% endblock %}

{% block body %}
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <section class="col-md-12 col-lg-12 col-xl-12">
            <div class="div-article">
                <h1 class="article-titre">Sur la route de l’école, la destinée</h1>
            </div>
            <div>
                <h3 class="">Titre de l'article</h3>
            </div>
            <img class="w-100" src="{{ asset('images/livre_route_destine.jpeg') }}" alt="Card image cap">
            <div class="">
                <small>Date publication de l'article</small><br>
                <small>Auteur de l'article</small><br>
                <small>Durée de la lecture théorique</small>
            </div>
            <p class="">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris purus est, sodales nec enim ac,
                molestie
                viverra sapien. Nulla pretium nulla ut turpis imperdiet, id aliquam tellus bibendum. Class aptent
                taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam sodales finibus
                risus
                eget
                accumsan. Sed non posuere mi. Nullam vitae ligula mattis, scelerisque tellus a, vestibulum nulla.
                Nulla
                facilisi. Ut vel consectetur turpis, vitae malesuada arcu. Duis commodo a sapien ut varius. In
                egestas,
                nisl
                et lacinia faucibus, tortor velit malesuada nibh, sit amet fermentum purus urna quis neque.

                Duis sed risus et diam luctus accumsan. Orci varius natoque penatibus et magnis dis parturient
                montes,
                nascetur ridiculus mus. Vestibulum vitae euismod velit. Phasellus ornare purus auctor magna
                sagittis, ac
                pellentesque felis blandit.
                <br> <br>
                Duis sit amet felis bibendum, aliquet lorem in, efficitur tortor. In mattis
                magna a enim accumsan, in dictum urna hendrerit. Mauris interdum velit et nibh imperdiet, ultrices
                aliquam
                libero tempus. Fusce venenatis tempor velit sit amet ornare. Nam scelerisque massa ut sem congue, ac
                lobortis justo ullamcorper. In hac habitasse platea dictumst. Donec ut luctus dolor, eu viverra
                elit. In
                finibus urna fermentum lobortis aliquam. Donec maximus ornare nibh sit amet hendrerit. Sed vel risus
                ut
                lorem pellentesque tempus vel eget est. Donec scelerisque egestas ex, et commodo ligula tincidunt
                at.

                Pellentesque fermentum, felis vel rhoncus sodales, elit velit venenatis ipsum, eu interdum massa
                felis a
                odio. Integer vestibulum nunc id justo fringilla, in elementum leo consequat. Maecenas id lacus sit
                amet
                libero dictum sagittis. Duis suscipit tellus ut suscipit elementum. Duis sollicitudin metus a dolor
                blandit
                ornare. Nunc posuere diam vestibulum gravida fringilla. Vivamus lacus purus, lacinia quis metus
                luctus,
                pulvinar efficitur lacus. Sed imperdiet dolor sit amet magna faucibus lacinia. Pellentesque id velit
                velit.
                <br><br>
                Quisque ultricies nisi ac libero iaculis, at interdum mi luctus. Phasellus placerat, est ac
                tincidunt
                ultrices, quam arcu feugiat sapien, non dapibus sem nisi a risus. Donec molestie enim eget ultricies
                egestas. Maecenas sollicitudin porta tortor, et sodales nisl dictum in. Aliquam quis volutpat leo.

                Nunc eleifend eu lacus id imperdiet. Vivamus posuere vehicula ligula, in laoreet massa porttitor
                eget.
                Ut mi
                metus, venenatis sit amet lorem sit amet, ultrices fringilla elit. Sed ultrices aliquam lectus, sed
                convallis mi. Proin sodales turpis dictum, suscipit nisl sed, tempor ipsum. Integer aliquam diam nec
                blandit
                imperdiet. Donec pulvinar, arcu eu interdum congue, ligula quam mattis dolor, id dictum erat odio eu
                lectus.
                Ut interdum lacinia odio nec molestie.

                Aliquam erat volutpat. Donec tempus bibendum nunc vitae tempus. Ut laoreet ante ex, tempor elementum
                nibh
                varius et. Nunc luctus leo mi, et rutrum tortor consectetur mattis. Nam maximus et ante id congue.
                Cras
                eu
                mauris consequat, ultricies mi in, dictum nunc. Pellentesque finibus metus neque, quis laoreet erat
                blandit
                non. Duis auctor nisl ac sem pulvinar, non bibendum diam fringilla. Mauris a volutpat ligula.
            </p>
        </section>
    </div>
{% endblock %}
